{% extends 'base.html' %}

{% block content %}
{% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Add Budget</h1>
{% endif %}

  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    {% if object %}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'detail' budget.id %}">Cancel</a>
    {% else %}
    <button type="submit" class="btn btn-success">Create</button>
    <a href="{% url 'budgets_index' %}">Cancel</a>
    {% endif %}

  </form>
{% endblock %}