{% extends 'base.html' %}
{% load static %}
{% block picture %}
class="home-background d-flex flex-column min-vh-100"
{% endblock %}

{% load static %}
{% block navbar %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home <i class="fas fa-home"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About <i class="far fa-question-circle"></i></a>
  </li>
  <li><hr class="dropdown-divider"></li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'reviews_index' %}">Reviews <i class="far fa-star"></i></a>
  </li>
  <li><hr class="dropdown-divider"></li>
{% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'budgets_index' %}">View My Budgets <i class="fas fa-layer-group"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'create_budget' %}">Create New Budget <i class="fas fa-folder-plus"></i></a>
  </li>
  <li class="nav-item">
    <a id="logout" class="nav-link" href="{% url 'logout' %}">Log Out <i class="fas fa-sign-out-alt"></i></a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'signup' %}">Sign Up <i class="fas fa-users-cog"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Log In <i class="fas fa-sign-in-alt"></i></a>
  </li>
  {% endif %}
{% endblock %}
{% block content %}

{% if reviews.count > 0 %}

{% for review in reviews %}
<div class="container mr-5 mb-5 mt-5 bg-light p-3" style="max-width: 700px;">
  <div class="justify-content-between d-flex">
    <p class="text-start"><i>{{ review.user.username }}</i></p>
    {% if user.username == review.user.username %}
    <div>
      <a href="{% url 'update_review' review.id %}">Edit</a>
      <a href="{% url 'delete_review' review.id %}">Delete</a>
    </div>
    {% endif %}
  </div>

  <div class="d-flex justify-content-between">
    {% if review.rating == '1' %}
    <p><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
    {% elif review.rating == '2' %}
    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
    {% elif review.rating == '3' %}
    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
    {% elif review.rating == '4' %}
    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
    {% elif review.rating == '5' %}
    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
    {% endif %}
    <p><i>{{ review.date }}</i></p>
  </div>
  <h1 class="display-6">{{ review.title }}</h1>
  <div class="container">
    <p class="text-start">{{ review.message }}</p>
  </div>
</div>
{% endfor %}
<div class="text-center">
  <a style="min-width: 250px;" class="btn btn-success mb-5" href="{% url 'create_review' %}">Add a review</a>
</div>
{% else %}
<div class="position-absolute top-50 start-50 translate-middle text-center">
  <h1 class="display-3 text-center">No reviews yet</h1>
  <div class="text-center m-5">
    <a style="min-width: 250px;" class="btn btn-success" href="{% url 'create_review' %}">Add a review</a>
  </div>
</div>
{% endif %}
<script>
   
</script>


{% endblock %}