{% extends 'base.html' %}
{% block content %}

<h1 id="message">{{message}}</h1>
{% if message == "You succesfully added this expense to your budget" %}
<div class="container">
    <h3>You have {{ budget.remaining_funds }} remaining</h3>
    <h3>You have spent a total of: {{ budget.total_spent }}</h3>
    <br>
    <a class="btn btn-secondary" href="{% url 'detail' budget.id %}">Back to Budget</a>
    <a class="btn btn-primary" href="{% url 'budgets_index' %}">View All Budgets</a>
</div>
<script>
    if ($('#message').text() === 'You succesfully added this expense to your budget') {
        swal('You discovered a new way of doing things');
    }
</script>

{% elif message == "You have spent all of your funds! You can no longer add anymore purchases after this one." %}
<div class="container">
    <a class="btn btn-secondary" href="{% url 'detail' budget.id %}">Back to Budget</a>
    <a class="btn btn-primary" href="{% url 'budgets_index' %}">View All Budgets</a>
</div>
{% else %}
<h3>Add another expense</h3>

<form action="{% url 'add_expense' budget.id %}" method="post">
    {% csrf_token %}
    <input type="date" name="date" class="form-control" placeholder="Select Date"/>
    <input type="text" name="name" class="form-control" placeholder="name" required>
    <textarea type="text" name="description" class="form-control" placeholder="description" required></textarea>
    $<input type="number" step="any" name="amount" placeholder="amount" min="0"  required>
    <input type="submit" class="btn btn-danger" value="Add Expense">
</form>
<br>
<div class="container">
    <a class="btn btn-secondary" href="{% url 'detail' budget.id %}">Back to Budget</a>
    <a class="btn btn-primary" href="{% url 'budgets_index' %}">View All Budgets</a>
</div>
{% endif %}
{% endblock %}