{% extends 'base.html' %}
{% block content %}
<h1>Detail of budget</h1>

<div class="row">
    <div class="card">
        <div class="card-content">
          <span class="card-title">{{ budget.name }}</span>
          <p>Funds Remaining: ${{ after_expenses_budget }}</p>
          <h3>Trip Info:</h3>
          <p>Destination: {{ budget.trip_destination }}</p>
          <p>Description: {{ budget.trip_description }}</p>
        </div>
        
        <h3>Add Expense</h3>
        <form action="{% url 'add_expense' budget.id %}" method="post">
            {% csrf_token %}
            <input type="date" name="date" class="form-control" placeholder="Select Date"/>
            <input type="text" name="name" class="form-control" placeholder="name" required>
            <textarea type="text" name="description" class="form-control" placeholder="description" required></textarea>
            $<input type="number" name="amount" placeholder="amount" required>
            <input type="submit" class="btn btn-danger" value="Add Expense">
        </form>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="datefield">Date</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                  {% for expenditure in budget.expenditure_set.all %}
                    <tr>
                        <td>{{expenditure.date}}</td>
                        <td>{{expenditure.name}}</td>
                        <td>${{expenditure.amount}}</td>
                        <td>{{ expenditure.description}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
                {% if total_expenses > 0 %}
                <tr>
                    <td>Total:</td>
                    <td></td>
                    <td>${{ total_expenses }}</td>
                    <td></td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">You haven't made any purchases yet.</td>
                </tr>
                {% endif %}
              </table>
        </div>
    </div>
</div>
</br>
<script>
    $( ".datefield" ).click(function() {
  alert( "Handler for .click() called." );
});
</script>
{% endblock %}