{% extends 'base.html' %}
{% block picture %}
class="home-background"
{% endblock %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home <i class="fas fa-home"></i></a>
  </li>
  {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'budgets_index' %}">View My Budgets <i class="fas fa-layer-group"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'create_budget' %}">Create New Budget <i class="fas fa-folder-plus"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Expenses for {{ budget.name }} <i class="fas fa-search-dollar"></i></i></a>
  </li>
  <li class="nav-item">
    <a id="logout" class="nav-link" href="{% url 'logout' %}">Log Out <i class="fas fa-sign-out-alt"></i></a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'signup' %}">Sign Up <i class="fas fa-users-cog"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Log In <i class="fas fa-sign-in-alt"></i></a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About <i class="far fa-question-circle"></i></a>
  </li>
{% endblock %}
{% block content %}

<form action="{% url 'search_expenses' budget.id %}" method="GET" value="{{request.GET.q}}">
    <div class="row mb-3 col-md-12">
        <div class="col-md-6">
            <input id="inputSearch" type="text" name="q" value="{{request.GET.q}}" class="form-control" placeholder="Search expenses for {{ budget.name }}" required/>
        </div>
        <br><br>
        <div class="col-md-6">
            <input class="btn btn-success" type="submit" name="submit" value="Search" />
        </div>
    </div>
</form>

    {% if submitbutton == 'Search' and request.GET.q != '' %}
    {% if results %}
    <h1>Results for <b>{{ request.GET.q }}</b></h1>
    <br/><br/>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="datefield">Date</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for expenditure in results %}
                <tr>
                    <td>{{expenditure.date}}</td>
                    <td>{{expenditure.name}}</td>
                    <td>${{expenditure.amount}}</td>
                    <td>{{ expenditure.description}}</td>
                    <td><a href="{% url 'remove_expense' budget.id expenditure.id %}" class="btn btn-danger">Delete</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    {% else %}
    <h1>No search results for '<b>{{ request.GET.q }}</b>'</h1>
    <br>
    {% endif %}
    {% endif %}

    <a href="{% url 'detail' budget.id %}" class="btn btn-secondary">View Budget</a>

    {% endblock %}