{% extends 'base.html' %}
{% block picture %}
class="home-background"
{% endblock %}

{% block content %}

<form action="{% url 'search_expenses' budget.id %}" method="GET" value="{{request.GET.q}}">
    <div class="row mb-3 col-md-12">
        <div class="col-md-6">
            <input id="inputSearch" type="text" name="q" value="{{request.GET.q}}" class="form-control" placeholder="Search expenses for {{ budget.name }}" required/>
        </div>
        <br><br>
        <div class="col-md-6">
            <input class="btn btn-success" type="submit" name="submit" value="Search" />
        </div>
    </div>
</form>

    {% if submitbutton == 'Search' and request.GET.q != '' %}
    {% if results %}
    <h1>Results for <b>{{ request.GET.q }}</b></h1>
    <br/><br/>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="datefield">Date</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for expenditure in results %}
                <tr>
                    <td>{{expenditure.date}}</td>
                    <td>{{expenditure.name}}</td>
                    <td>${{expenditure.amount}}</td>
                    <td>{{ expenditure.description}}</td>
                    <td><a href="{% url 'remove_expense' budget.id expenditure.id %}" class="btn btn-danger">Delete</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    {% else %}
    <h1>No search results for '<b>{{ request.GET.q }}</b>'</h1>
    <br>
    {% endif %}
    {% endif %}

    <a href="{% url 'detail' budget.id %}" class="btn btn-secondary">View Budget</a>

    {% endblock %}