{% extends 'base.html' %}
{% block content %}

{% for budget in budgets %}
<div class="card text-center">
    <div class="card-header"><h1>{{budget.name}}</h1>
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-{{budget.id}}" type="button" role="tab" aria-controls="home-{{budget.id}}" aria-selected="true">Budget {{budget.id}}</button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-{{budget.id}}" type="button" role="tab" aria-controls="profile-{{budget.id}}" aria-selected="false">Expenses</button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-{{budget.id}}" type="button" role="tab" aria-controls="contact-{{budget.id}}" aria-selected="false">Info</button>
            </li>
        </ul>
        <div class="tab-content card-body" id="myTabContent">
            <div class="tab-pane fade show active" id="home-{{budget.id}}" role="tabpanel" aria-labelledby="home-tab">
                <p>Funds Remaining: {{ budget.initial_funds }}</p>
            </div>
            <div class="tab-pane fade" id="profile-{{budget.id}}" role="tabpanel" aria-labelledby="profile-tab">
                <form action="{% url 'add_expense' budget.id %}" method="post">
                    {% csrf_token %}
                    <input type="date" name="date" class="form-control" placeholder="Select Date"/>
                    <input type="text" name="name" class="form-control" placeholder="name" required>
                    <textarea type="text" name="description" class="form-control" placeholder="description" required></textarea>
                    $<input type="number" name="amount" placeholder="amount" required>
                    <input type="submit" class="btn btn-danger" value="Add Expense">
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for expenditure in budget.expenditure_set.all %}
                        <tr>
                            <td>{{expenditure.date}}</td>
                            <td>{{expenditure.name}}</td>
                            <td>${{expenditure.amount}}</td>
                            <td>{{ expenditure.description}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="tab-pane fade" id="contact-{{budget.id}}" role="tabpanel" aria-labelledby="contact-tab">
                <h4>Destination</h4>
                <p>{{budget.trip_destination}}</p>
                <h4>Description</h4>
                <p>{{budget.trip_description}}</p>
                <a href="{% url 'detail' budget.id %}" class="btn btn-primary">View More</a>
            </div>
        </div>
    </div>
</div>
</br>
{% endfor %}

{% endblock %}