{% extends 'base.html' %}
{% block content %}
<div class="container d-fles justify-content-center align-items-center">
    {% if budgets.count > 0 %}
    <form action="{% url 'search_budgets' %}" method="GET" value="{{request.GET.q}}" >
        Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search posts"/>
        <input type="submit" name="submit" value="Search"/>
    </form>
    <br><br>
    {% endif %}
        
        
        {% if submitbutton == 'Search' and request.GET.q != '' %}
        {% if results %}
        <h1>Results for <b>{{ request.GET.q }}</b></h1>
        <br/><br/>
        
        {% for budget in results %}
        
        <div class="card text-center">
            <div class="card-header"><a style="text-decoration: none;" href="{% url 'detail' budget.id %}"><h1>{{budget.name}}</h1></a>
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="funds-tab" data-bs-toggle="tab" data-bs-target="#funds-{{budget.id}}" type="button" role="tab" aria-controls="funds-{{budget.id}}" aria-selected="true">Funds <i class="fas fa-money-bill-wave"></i></button>
                    </li>
                    <li class="nav-item" role="presentation">
                    <button class="nav-link" id="expense-tab" data-bs-toggle="tab" data-bs-target="#expense-{{budget.id}}" type="button" role="tab" aria-controls="expense-{{budget.id}}" aria-selected="false">Expenses <i class="far fa-minus-square"></i></button>
                    </li>
                    <li class="nav-item" role="presentation">
                    <button class="nav-link" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-{{budget.id}}" type="button" role="tab" aria-controls="info-{{budget.id}}" aria-selected="false">Info</button>
                    </li>
                </ul>
                <div class="tab-content card-body" id="myTabContent">
                    <div class="tab-pane fade show active" id="funds-{{budget.id}}" role="tabpanel" aria-labelledby="funds-tab">
                        
                        {% if budget.remaining_funds == None %}
                        <p class="h3" style="color: {{budget.color}}">Funds Remaining: ${{ budget.initial_funds }}</p>
                        {% else %}
                        <p class="h3" style="color: {{budget.color}}">Funds Remaining: ${{ budget.remaining_funds }}</p>
                        {% endif %}
                        {% if budget.color == '#ff9966' %}
                        <br>
                        <p class=""><span class="h5" style="color: {{budget.color}}">WARNING!</span> You have spent more than half of your budget</p>
                        {% elif budget.color == '#cc3300' %}
                        <p class=""><span class="h5" style="color: {{budget.color}}">Danger!</span> You have spent more than 75% of your budget</p>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="expense-{{budget.id}}" role="tabpanel" aria-labelledby="expense-tab">
                        <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="all-expenses-tab" data-bs-toggle="pill" data-bs-target="#all-expenses-{{budget.id}}" type="button" role="tab" aria-controls="all-expenses-{{budget.id}}" aria-selected="true">All Expenses</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="add-expenses-tab" data-bs-toggle="pill" data-bs-target="#add-expenses-{{budget.id}}" type="button" role="tab" aria-controls="add-expenses-{{budget.id}}" aria-selected="false">Add Expense</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="tabContent">
                            <div class="tab-pane fade show active" id="all-expenses-{{budget.id}}" role="tabpanel" aria-labelledby="all-expenses-tab">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th id="date">Date ▶</th>
                                            <th id="name">Name ▶</th>
                                            <th id="amount">Amount ▶</th>
                                            <th id="description">Description ▶</th>
                                            <th><i class="fas fa-trash-alt"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% for expenditure in budget.expenditure_set.all %}
                                        <tr>
                                            <td>{{expenditure.date|date:"m-d-Y"}}</td>
                                            <td>{{expenditure.name}}</td>
                                            <td>${{expenditure.amount}}</td>
                                            <td>{{ expenditure.description}}</td>
                                            <td><a href="{% url 'remove_expense' budget.id expenditure.id %}" class="btn btn-danger">Delete</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if budget.total_spent == 0 %}
                                <h4>No purchases have been made.</h4>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="add-expenses-{{budget.id}}" role="tabpanel" aria-labelledby="add-expenses-tab">
                                <form action="{% url 'add_expense' budget.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="date" name="date" class="form-control" placeholder="Select Date" required/>
                                    <input type="text" name="name" class="form-control" placeholder="name" required>
                                    <textarea type="text" name="description" class="form-control" placeholder="description" required></textarea>
                                    $<input type="number" step="any" name="amount" placeholder="amount" min="0" required>
                                    <input type="submit" class="btn btn-danger" value="Add Expense">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="info-{{budget.id}}" role="tabpanel" aria-labelledby="info-tab">
                        <h4>Destination</h4>
                        <p>{{budget.trip_destination}}</p>
                        <h4>Description</h4>
                        <p>{{budget.trip_description}}</p>
                        <a href="{% url 'detail' budget.id %}" class="btn btn-primary">View More</a>
                        <a class="btn btn-warning" href="{% url 'update_budget' budget.id %}">Edit Details</a>
                        <a class="btn btn-danger" href="{% url 'delete_budget' budget.id %}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <br/>
        {% endfor %}
        <a class="btn btn-secondary" href="{% url 'budgets_index' %}">Back to all budgets</a>
        {% else %}
        <h1>No search results for this query</h1>
        <a class="btn btn-secondary" href="{% url 'budgets_index' %}">Back to all budgets</a>
        {% endif %}
        {% endif %}
</div>

{% for budget in budgets %}
<div class="card text-center">
    <div class="card-header"><a style="text-decoration: none;" href="{% url 'detail' budget.id %}"><h1>{{budget.name}}</h1></a>
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
            <button class="nav-link active" id="funds-tab" data-bs-toggle="tab" data-bs-target="#funds-{{budget.id}}" type="button" role="tab" aria-controls="funds-{{budget.id}}" aria-selected="true">Funds <i class="fas fa-money-bill-wave"></i></button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="expense-tab" data-bs-toggle="tab" data-bs-target="#expense-{{budget.id}}" type="button" role="tab" aria-controls="expense-{{budget.id}}" aria-selected="false">Expenses <i class="far fa-minus-square"></i></button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-{{budget.id}}" type="button" role="tab" aria-controls="info-{{budget.id}}" aria-selected="false"><i class="fas fa-info"></i></button>
            </li>
        </ul>
        <div class="tab-content card-body" id="myTabContent">
            <div class="tab-pane fade show active" id="funds-{{budget.id}}" role="tabpanel" aria-labelledby="funds-tab">
                
                {% if budget.remaining_funds == None %}
                <p class="h3" style="color: {{budget.color}}">Funds Remaining: ${{ budget.initial_funds }}</p>
                <p>You have {{ budget.percentage_difference }}% left from your initial funds</p>
                {% else %}
                <p class="h3" style="color: {{budget.color}}">Funds Remaining: ${{ budget.remaining_funds }}</p>
                <p>You have {{ budget.percentage_difference }}% left from your initial funds</p>
                {% endif %}

                {% if budget.color == '#ff9966' %}
                <br>
                <p class=""><span class="h5" style="color: {{budget.color}}">WARNING!</span> You have spent more than half of your budget</p>
                {% elif budget.color == '#cc3300' %}
                <p class=""><span class="h5" style="color: {{budget.color}}">Danger!</span> You have spent more than 75% of your budget</p>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="expense-{{budget.id}}" role="tabpanel" aria-labelledby="expense-tab">
                <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="all-expenses-tab" data-bs-toggle="pill" data-bs-target="#all-expenses-{{budget.id}}" type="button" role="tab" aria-controls="all-expenses-{{budget.id}}" aria-selected="true">All Expenses</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="add-expenses-tab" data-bs-toggle="pill" data-bs-target="#add-expenses-{{budget.id}}" type="button" role="tab" aria-controls="add-expenses-{{budget.id}}" aria-selected="false">Add Expense</button>
                    </li>
                </ul>
                <div class="tab-content" id="tabContent">
                    <div class="tab-pane fade show active" id="all-expenses-{{budget.id}}" role="tabpanel" aria-labelledby="all-expenses-tab">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="date">Date ▶</th>
                                    <th id="name">Name ▶</th>
                                    <th id="amount">Amount ▶</th>
                                    <th id="description">Description ▶</th>
                                    <th><i class="fas fa-trash-alt"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for expenditure in budget.expenditure_set.all %}
                                <tr>
                                    <td>{{expenditure.date|date:"m-d-Y"}}</td>
                                    <td>{{expenditure.name}}</td>
                                    <td>${{expenditure.amount}}</td>
                                    <td>{{ expenditure.description}}</td>
                                    <td><a href="{% url 'remove_expense' budget.id expenditure.id %}" class="btn btn-danger">Delete</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if budget.total_spent == 0 %}
                        <h4>No purchases have been made.</h4>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="add-expenses-{{budget.id}}" role="tabpanel" aria-labelledby="add-expenses-tab">
                        <form action="{% url 'add_expense' budget.id %}" method="post">
                            {% csrf_token %}
                            <input type="date" name="date" class="form-control" placeholder="Select Date" required/>
                            <input type="text" name="name" class="form-control" placeholder="name" required>
                            <textarea type="text" name="description" class="form-control" placeholder="description" required></textarea>
                            $<input type="number" step="any" name="amount" placeholder="amount" min="0" required>
                            <input type="submit" class="btn btn-danger" value="Add Expense">
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="info-{{budget.id}}" role="tabpanel" aria-labelledby="info-tab">
                <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="trip-info-tab" data-bs-toggle="pill" data-bs-target="#trip-info-{{budget.id}}" type="button" role="tab" aria-controls="trip-info-{{budget.id}}" aria-selected="true">Trip Info</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="more-info-tab" data-bs-toggle="pill" data-bs-target="#more-info-{{budget.id}}" type="button" role="tab" aria-controls="more-info-{{budget.id}}" aria-selected="false">More info</button>
                    </li>
                </ul>
                <div class="tab-content" id="tabContent">
                    <div class="tab-pane fade show active" id="trip-info-{{budget.id}}" role="tabpanel" aria-labelledby="trip-info-tab">
                        <h4>Destination</h4>
                        <p>{{budget.trip_destination}}</p>
                        <h4>Description</h4>
                        <p>{{budget.trip_description}}</p>
                    </div>
                    <div class="tab-pane fade" id="more-info-{{budget.id}}" role="tabpanel" aria-labelledby="more-info-tab">
                        <div class="container d-flex">
                            {% for photo in budget.purchasephotos_set.all %}
                            <div class="card" style="width: 18rem;">
                                <img src="{{ photo.url }}" class="card-img-top">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- <a href="{% url 'detail' budget.id %}" class="btn btn-primary">View More</a>
                <a class="btn btn-warning" href="{% url 'update_budget' budget.id %}">Edit Details</a>
                <a class="btn btn-danger" href="{% url 'delete_budget' budget.id %}">Delete</a> -->
            </div>
        </div>
    </div>
</div>
</br>
{% endfor %}
<script>

    $('th').click(function() {
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc){
            $(this).text($(this).text().slice(0,-1) + " ▲")
            rows = rows.reverse()
        } else {
            $(this).text($(this).text().slice(0,-1) + " ▼")

        }
        for (var i = 0; i < rows.length; i++) {
            table.append(rows[i])
        }
    })
    function comparer(index) {
        return function(a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }
    function getCellValue(row, index){ 
        return $(row).children('td').eq(index).text() 
        }
</script>
{% endblock %}  