{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<h1>Welcome back {{ user.username }}</h1>
{% else %}
<script>

swal({
    title: "Welcome to Voyage Budgeter!",
    buttons: false,
    timer: 2500,
})
    .then((value) => {
        swal('Heads up!',`In order to access the full functionality you'll need to Login or Sign Up`, {buttons: true})
    })
</script>
<h1>Welcome to Voyage Budgeter!</h1>
<hr />
<p>Save your money before you book your trip</p>

</br>

<h3>Please Log In</h3>
<a href="{% url 'login' %}">
    <button type="submit" class="btn btn-primary">Log In</button>
</a>

<h3><span class="or">or</span> Sign Up</h3>
<a href="{% url 'signup' %}">
    <button type="submit" class="btn btn-secondary">Sign Up</button>
</a>
{% endif %}
{% endblock %}
