{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<h1>Welcome back {{ user.username }}</h1>
{% else %}
<h1>Welcome to Voyage Budgeter!</h1>
<hr />
<p>Save your money before you book your trip</p>

</br>

<h3>Please Log In</h3>
<a href="{% url 'login' %}">
    <button type="submit" class="btn btn-primary">Log In</button>
</a>

<h3><span class="or">or</span> Sign Up</h3>
<a href="{% url 'signup' %}">
    <button type="submit" class="btn btn-secondary">Sign Up</button>
</a>
{% endif %}

{% endblock %}
